.footer{
    background-color: $col-grey-l-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    font-size: 1.6rem;
    color: $col-primary-d;
    
    &__logo-box{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__logo{
        font-size: 6rem;
    }
    
    &__logo-text{
        font-size: 4rem;
        font-weight: 300;
        font-family: $font-sec;
    }
    
    &__content{
        width: 100%;
        padding: 2rem 5rem 0 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        @include respond(tab-land) {
            flex-direction: column;
            justify-content: space-between;
        }
        
        @include respond(tab-port){
            padding: 2rem 3rem 0 3rem;
        }
    }
    
    &__navigation {
        @include respond(tab-land) {
            margin-bottom: 2rem;
        }
    }
    
    &__list{
        display: flex;
        list-style: none;
    }
    
    &__item{
        padding: 0 1.5rem;
        
        @include respond(tab-port) {
            padding: 0 1rem;
        }
    }
    
    &__link,
    &__link:link,
    &__link:visited,{
        font-weight: 600;
        text-decoration: none;
        color: $col-primary-d;
        padding: 1rem;
        transition: .3s linear all;
    }
    
    &__link:hover,
    &__link:focus,
    &__link:active{
        box-shadow: 1rem 1rem 2rem rgba($col-black, .2);
    }
    
    &__copyright-text{
        font-weight: 600;
        padding: 1rem;
        transition: .3s linear all;
        
        &:hover{
            box-shadow: 1rem 1rem 2rem rgba($col-black, .2);
        }
    }
}