<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway:wght@100;200;300;400;600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://kit.fontawesome.com/49b4b0b11c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body class="boilerplate">
    <header class="header">
        <% include ./partials/navbar %>
        <% include ./partials/flash-messages %>
    </header>
    
    <main class="boilerplate__secondary">
        <div class = "about">
            
            <div class = "about__content about__content--1">
                <img class = "about__img mb-small" src = "/images/ian.jpg" />
                <h1 class = "heading-primary heading-primary--light about__name mb-small">Ian Schoonover</h1>
                <h3 class = "about__role heading-tertiary heading-tertiary--light mb-xs">Full Stack Developer and Coding Instructor</h3>
                <p class="about__desc mb-small">(Back End)</p>
                <div class = "about__links mt-small">
                    <li class = "about__item">
                        <a  target = "blank" href = "https://github.com/nax3t" class = "about__item-link"><i class = "about__item-icon fab fa-github-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "#" class = "about__item-link"><i class = "about__item-icon fab fa-facebook-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://www.instagram.com/el_chupacabro/" class = "about__item-link"><i class = "about__item-icon fab fa-instagram-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://twitter.com/SchoonoverIan" class = "about__item-link"><i class = "about__item-icon fab fa-twitter-square"></i></a>
                    </li>
                </div>
            </div>

            <div class = "about__content about__content--2">
                <img class = "about__img mb-small" src = "/images/ele.png" />
                <h1 class = "heading-primary heading-primary--light about__name mb-small">Elemento</h1>
                <p class = "about__role heading-tertiary heading-tertiary--light mb-xs">Full Stack Web Developer</p>
                <p class="about__desc mb-small">(Front End)</p>
                <div class = "about__links mt-small">
                   <li class = "about__item">
                        <a  target = "blank" href = "https://github.com/Elemento24" class = "about__item-link"><i class = "about__item-icon fab fa-github-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://fb.com/elemento24" class = "about__item-link"><i class = "about__item-icon fab fa-facebook-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://instagram.com/elemento.24" class = "about__item-link"><i class = "about__item-icon fab fa-instagram-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://twitter.com/Vishesh30493930" class = "about__item-link"><i class = "about__item-icon fab fa-twitter-square"></i></a>
                    </li>
                </div>
            </div>

            <div class = "about__content about__content--3">
                <img class = "about__img mb-small" src = "/images/sid.jpg" />
                <h1 class = "heading-primary heading-primary--light about__name mb-small">sid mirza</h1>
                <p class = "mb-xs about__role heading-tertiary heading-tertiary--light">Full Stack Web Developer</p>
                <p class="about__desc mb-small">(Front End)</p>
                <div class = "about__links mt-small">
                    <li class = "about__item">
                        <a  target = "blank" href = "https://github.com/sidmirza4" class = "about__item-link"><i class = "about__item-icon fab fa-github-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://fb.com/sidmirza4" class = "about__item-link"><i class = "about__item-icon fab fa-facebook-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://instagram.com/sidmirza4" class = "about__item-link"><i class = "about__item-icon fab fa-instagram-square"></i></a>
                    </li>
                    <li class = "about__item">
                        <a target = "blank" href = "https://twitter.com/sidmirza4" class = "about__item-link"><i class = "about__item-icon fab fa-twitter-square"></i></a>
                    </li>
                </div>
            </div>
            
        </div>
    </main>
    
    <% include ./partials/footer.ejs %>
</body>

<script>
    $(function () {
        var $nav = $(".navbar");
        $nav.addClass("navbar--boilerplate");
    });
</script>

</html>


