// Mapbox Classes
.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

// Show Post Classes
.postShow{
    width: 100%;
    display: grid;
    grid-template-columns: minmax(3rem, 10rem) 1fr 5rem repeat(3, 1fr) minmax(3rem, 10rem);
    grid-row-gap: 5rem;
    justify-items: center;
    font-size: 2rem;
    font-weight: 400;
    
    @include respond(mini-desk){
        grid-template-columns: minmax(2rem, 5rem) 1fr 3rem repeat(3, 1fr) minmax(2rem, 5rem);
    }
    
    @include respond(tab-land){
        grid-template-columns: minmax(8rem, 10rem) repeat(3, 1fr) minmax(8rem, 10rem);
    }
    
    @include respond(tab-port){
        grid-template-columns: minmax(2rem, 5rem) repeat(3, 1fr) minmax(2rem, 5rem);
    }
    
    &__title-container{
        grid-column: 4 / span 2;
        width: max-content;
        
        @include respond(tab-land){
            grid-column: 2 / 5;
        }
    }
    
    &__title{
        
    }
    
    &__map-container{
        position: sticky;
        top: 12vh;
        left: 0;
        grid-column: 2 / 3;
        height: max-content;
        width: 100%;
        padding: 5rem;
        background-color: $col-grey-l-3;
        border-radius: 5px;
        margin-bottom: 5rem;
        
        @include respond(mini-desk){
            padding: 3rem;
        }
        
        @include respond(tab-land) {
            grid-column: 2 / 5;
            position: relative;
            top: 0;
            padding: 5rem;
            margin-bottom: 0;
            order: 2;
        }
    }
    
    &__map{
        width: 100%;
        height: 50rem;
        border-radius: 5px;
        transform: scale(1);
        transition: all .3s;
        
        &:hover{
            box-shadow: .5rem 1rem 2rem rgba($col-black, .4);
            transform: scale(1.02);
        }
    }
    
    &__content{
        grid-column: 4 / 7;
        padding: 4rem 0;
        justify-items: center;
        align-items: center;
        background-color: $col-grey-l-3;
        border-radius: 5px;
        
        display: grid;
        grid-template-columns: minmax(3rem, 5rem) repeat(6, 1fr) minmax(3rem, 5rem);
        grid-template-rows: 60rem repeat(2,6rem) auto 6rem;
        
        @include respond(tab-land) {
            grid-column: 2 / 5;
            margin-top: -4rem;
        }
        
        @include respond(tab-port) {
            grid-template-rows: 50rem repeat(2,6rem) auto 6rem;
        }
        
        @include respond(phone){
            padding: 2rem 0;
        }
    }
    
    &__price{
        justify-self: end;
        font-size: 8rem;
        font-weight: 100;
        grid-column: 7 / 8;
        grid-row: 2 / 4;
        color: $col-primary-d;
        
        @include respond(tab-port){
            grid-column: 6 / 8;
        }
    }
    
    &__description{
        grid-column: 2 / 8;
        font-weight: 600;
        line-height: 1.4;
        text-align: justify;
        margin-bottom: 1rem;
    }
    
    &__location{
        color: $col-primary-d;
        font-size: 2.5rem;
        justify-self: start;
        grid-column: 2 / 4;
        
        @include respond(tab-port) {
            grid-column: 2 / 6;
        }
    }
    
    &__ratings{
        color: $col-primary-d;
        margin-top: -3rem;
        font-size: 2.5rem;
        justify-self: start;
        grid-column: 2 / 4;
        
        @include respond(tab-port) {
            grid-column: 2 / 5;
        }
    }
    
    // PARTIAL STYLES
    &__images{
        grid-column: 3 / 7;
    }
    
    &__edit-delete-btn{
        grid-column: 6 / 8;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    &__edit-btn{
        margin-right: 4rem;
    }
    
    &__delete-btn{
        
    }
    
    &__reviews{
        grid-column: 4 / 7;
        background-color: $col-grey-l-3;
        border-radius: 5px;
        padding: 3rem;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        grid-row-gap: 3rem;
        
        @include respond(tab-land) {
            grid-column: 2 / 5;
            order: 1;
        }
    }
    
    &__review-heading{
        grid-column: 3 / 5;
        text-align: center;
    }
    
    &__review-info{
        grid-column: 3 / 5;
        text-align: center;
    }
    
    &__review{
        grid-column: 1 / -1;
        border-radius: 5px;
        padding: 3rem 3rem 2rem 3rem;
        box-shadow: inset -3px -3px 7px rgba($col-white, .75), inset 3px 3px 5px rgba($col-black, .28);
        
        display: grid;
        justify-items: start;
        align-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 5rem;
        row-gap: 1rem;
        
        @include respond(tab-port) {
            padding: 3rem 5rem;
            grid-template-rows: auto auto 5rem;
        }
        
        @include respond(phone) {
            padding: 2rem 4rem;
        }
        
        &-undisplayed{
            transition: height 1s ease-out,  transform 1s ease-out, opacity .3s ease-out;
            height: 0;
            opacity: 0;
            transform: translateY(0);
            visibility: hidden;
        }
        
        &-displayed{
            transition: height .5s ease-out, transform 0.5s ease-out, opacity 1s ease-out;
            height: 25rem;
            opacity: 1;
            transform: translateY(2rem);
            margin-bottom: 2rem;
            visibility: visible;
            
            @include respond(tab-port){
                height: 30rem;
            }
        }
        
        &-author{
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1 / -1;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @include respond(tab-port){
                grid-column: 5 / 9;
                grid-row: 1 / 2;
            }
            
            &-img{
                width: 10rem;
                height: 10rem;
                margin-bottom: 2rem;
                
                &-avatar {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        
        &-body{
            grid-column: 4 / -1;
            grid-row: 1 / 2;
            text-align: justify;
            line-height: 1.5;
            font-size: 1.6rem;
            
            @include respond(tab-port){
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }
        }
        
        &-rating{
            grid-column: 4 / -1;
            grid-row: 2 / 3;
            font-weight: 600;
            color: $col-primary-d;
            
            @include respond(tab-port){
                grid-column: 1 / 5;
                grid-row: 3 / 4;
            }
        }
        
        &-editBtn{
            grid-column: 11 / 12;
            grid-row: 2 / 3;
            justify-self: end;
            margin-right: 2rem;
            
            @include respond(tab-port){
                grid-column: 9 / 11;
                grid-row: 3 / 4;
            }
        }
        
        &-deleteBtn{
            grid-column: 12 / 13;
            grid-row: 2 / 3;
            justify-self: end;
            
            @include respond(tab-port){
                grid-column: 11 / 13;
                grid-row: 3 / 4;
            }
        }
        
        &-editForm{
            grid-column: 1 / -1;
            justify-self: stretch;
        }
    }

    &__reviewForm{
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 15rem 4rem;
        justify-items: center;
        row-gap: 3rem;
        
        @include respond(tab-port){
            grid-template-rows: 15rem 4rem 4rem; 
        }
        
        &-text{
            grid-column: 2 / 8;
            grid-row: 1 / 2;
            align-self: stretch;
            justify-self: stretch;
            
            font-family: inherit;
            font-size: 1.6rem;
            line-height: 1.6;
            padding: 2rem;
            border: none;
            outline: none;
            box-shadow: none;
            transition: .3s ease-out;
            
            &:focus {
                border: none;
                outline: none;
                background-color: $col-grey-l-3;
                box-shadow: inset -5px -5px 10px rgba($col-white, .75), inset 5px 5px 7px rgba($col-black, .28);
            }
            
            @include respond(tab-port){
                grid-column: 1 / -1;
            }
        }
        
        &-field{
            grid-column: 4 / 6;
            grid-row: 2 / 3;
            
            @include respond(tab-port){
                grid-column: 2 / 8;
            }
        }
        
        &-clear{
            grid-column: 2 / 4;
            grid-row: 2 / 3;
            justify-self: start;
            
            @include respond(tab-port){
                grid-column: 1 / 4;
                grid-row: 3 / 4;
            }
        }
        
        &-submit{
            grid-column: 7 / 8;
            grid-row: 2 / 3;
            justify-self: end;
            
            @include respond(tab-port){
                grid-column: 6 / 9;
                grid-row: 3 / 4;
            }
        }
    }
        
    &__createReview{
        grid-column: 4 / 7;
        background-color: $col-grey-l-3;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5rem;
        padding: 3rem 3rem 4rem 3rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &-heading {
            transition: all 0.2s ease-out;
        }    
        
        &-heading:hover{
            text-shadow: 0 4px 6px rgba($col-black, 0.4);
            transform: scale(1.03);
        }
        
        &-heading a {
            color: currentColor;
            text-decoration: none;
        }
        
        @include respond(tab-land) {
            grid-column: 2 / 5;
            margin-bottom: 0;
            order: 3;
            margin-bottom: 5rem;
        }
        
        @include respond(tab-port){
            padding: 3rem 5rem;
        }
    }
}