// COLORS
$col-primary: #3498DB;
$col-primary-l: #59ABE3;
$col-primary-d: #2574A9;

$col-grey-l-1: #f7f7f7;
$col-grey-l-2: #eee;
$col-grey-l-3: #dfdfdf;

$col-grey-d-1: #777;
$col-grey-d-2: #999;
$col-grey-d-3: #333;

$col-danger: #cf190c;
$col-success: #1ebd33;
$col-warning: #fcad03;

$col-white: #fff;
$col-black:#000000;

// FONT
$default-font-size: 1.6rem;
$font-pri: 'Raleway', sans-serif;
$font-sec: 'Cinzel Decorative', cursive;;